.Plans {
	text-align: left;
	margin-left: 1em;
}

.plan-list-container {
	margin-top: 1em;
}

.plan-card {
	margin-bottom: 1em;
}

.plan-link {
	text-decoration: none;
	color: black;
}

.plan-link:hover {
	text-decoration: none;
}
